<div class="wrap-menu" id="main-menu">
    <ul>
        <li class="d-lg-block d-none"><a href="#gioi-thieu">Giới thiệu</a></li>
        <li><a href="#dich-vu">Dịch vụ</a></li>
        <li><a href="#bang-gia">Bảng giá</a></li>
        <li><a href="#uu-dai">Ưu đãi</a></li>
        <li><a href="#nhan-tu-van">Nhận tư vấn</a></li>
        <li class="d-lg-block d-none"><a href="tel:0966.949.839" class="tel">
                <i class="fa fa-phone"></i>
                0966.949.839
            </a></li>
    </ul>
</div>